<body>
    <div class="container">
        <div class="row p-4">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto ">
                <div class="card border-0 shadow rounded-4 my-5 py-4">
                    <div class="card-body p-4 p-sm-5 rounded-3">
                        <h3 class="card-title text-center mb-5 fw-light  fw-bold">Sign In</h3>
                        <form action="/users/create-session" method="POST">
                            <div class="form-floating mb-3">
                                <input type="email" name="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com" Required>
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="password" class="form-control" id="floatingPassword"
                                    placeholder="Password" Required>
                                <label for="floatingPassword">Password</label>
                            </div>


                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                                    in</button>
                            </div>
                            <hr class="my-4">
                            <div class="d-grid mb-2">
                                <a href="/users/auth/google"
                                    class="btn btn-google  btn-login text-uppercase fw-bold text-white"
                                    style="background-color: rgb(234,67,53);">

                                    <i class="fab fa-google me-2"></i> Sign in with Google

                                </a>


                            </div>



                        </form>
                        <div class=" btn   d-grid   mx-auto  text-white">
                            <a href="/users/forgot-password">Forgot Password</a>

                        </div>



                        <div class="d-grid">
                            <div class="g-recaptcha mt-4 mx-auto"
                                data-sitekey="6LeHvDkhAAAAAIpjwCIBS3gv03j701Mq5xGrom0J">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>